### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
*.elc
auto-save-list
tramp
.\#*

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# projectiles files
.projectile
projectile-bookmarks.eld

elpa/gnupg
elpa/pkg-*
elpa/archives

# End of https://www.gitignore.io/api/emacs
